body {
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    overflow-x: hidden;
    font-family: monospace;
    font-weight: 700;
    font-size: 20px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1%;
}

header img {
    padding-left: 3%;
}

.typing-animation {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    letter-spacing: .05em;
    animation: typing 3s steps(30, end), blink-caret .90s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 40%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    padding-left: 3%;
}

textarea {
    resize: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
}

textarea::-webkit-scrollbar {
    display: none;
}

.input-line {
    width: 45%;
    border-radius: 1vh;
    height: auto;
    display: flex;
    flex-direction: column;
}

.output-line {
    width: 45%;
    border-radius: 1vh;
    height: auto;
    display: flex;
    flex-direction: column;
}

.input-text,
.result-text {
    width: 100%;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    font-family: monospace;
    border: none;
    border-color: transparent;
    background-color: rgb(0, 0, 0);
    outline: none;

}

.buttons {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
}

.cript-button,
.descript-button {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    font-family: monospace;
    border: none;
    border-color: transparent;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 5px;
    cursor: pointer;
}

.copy-button {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    font-family: monospace;
    border: none;
    border-color: transparent;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 5px;
    cursor: pointer;
}

.cript-button:hover,
.descript-button:hover,
.copy-button:hover {
    background-color: #555;
}

.cript-button:focus,
.descript-button:focus,
.copy-button:focus {
    outline: none;
}


@media (max-width: 820px) {
    main {
        flex-direction: column;
    }
    header h1{
        font-size:x-large;
    }
    .input-line,
    .output-line {
        width: 100%;
        margin-top: 5vh;
    }
    textarea{
        width: 95%;
    }
    .cript-button,
    .descript-button{
        height: 10vh;
    }
    .copy-button{
        width: 95%;
        height: 10vh
    }
    footer{
        margin-top: 10vh;
    }
}